body{
    font-family: Roboto, Arial;
    font-size: 18px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 18px;
    font-weight: 300;
}

.container{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    padding: 4px 24px;
    justify-content: space-between;
    align-items: center;
    max-width: 944px;
    margin: 0 auto;
    width: 100%;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.hero-section{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 60px;
    gap: 48px;
}

.text-section{
    max-width: 500px;
    text-wrap: wrap;
}

.main-text{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.secondary-text{
    color: #e5e7eb;
    font-weight: 300;
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 8px 32px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.placeholder{
    width: 300px;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 100px 48px;
}

.information-section{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 48px;
}

.content{
    display: flex;
    gap: 12px;
    margin-top: 48px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    text-align: center;
    text-wrap: wrap;
    max-width: 200px;
}


.box{
    width: 200px;
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 16px;
}

.testimonial-section{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote-section{
    padding: 100px;
    max-width: 800px;
}

.quote{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.quote-author{
    text-align: right;
    font-weight: bold;
}

.cta-section{
    display: flex;
    justify-content: center;
    padding: 120px 48px;
}

.cta-container{
    max-width: 1000px;
    width: 100%;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 48px 80px;
    color: #e5e7eb;
    flex-wrap: wrap;
}

.cta-text p:first-of-type {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
  }

.cta-text p{
    margin: 0;
}

.cta-container button{
    color: #f9faf8;
    background: none;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    padding: 8px 32px;
    font-weight: bold;
    line-height: normal;
}

.footer{
    background-color: #1f2937;
    color: #f9faf8;
    padding: 48px;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}